/* ============Player===============  */

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #212330;

  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d377a;
}

body::-webkit-scrollbar-track {
  background: #161720; /* color of the tracking area */
}

body {
  -webkit-font-smoothing: antialiased;
}

.button {
  padding: 10px 10px;
  font-weight: bold;
  letter-spacing: 5px;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #212330;
}

.btn {
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #141a2c;
}

.button:hover {
  background-color: #2b3860;
}
#play-button {
  background-color: #1a223a;
}
#play-button:hover {
  background-color: #2b3860;
}
#pause-button {
  background-color: #1a223a;
}
#pause-button:hover {
  background-color: #2b3860;
}
#stop-button {
  background-color: #1a223a;
}
#stop-button:hover {
  background-color: #2b3860;
}
