 
 /* ============Player===============  */
 
 .button {
    padding: 10px 10px;
    font-weight: bold;
    letter-spacing: 5px;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #141a2c;
  }

  .btn{
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #141a2c;
  }


  .button:hover {
    background-color: #2b3860;
  }
  #play-button {
    background-color: #1a223a;
  }
  #play-button:hover {
    background-color: #2b3860;
  }
  #pause-button {
    background-color: #1a223a;
  }
  #pause-button:hover {
    background-color: #2b3860;
  }
  #stop-button {
    background-color: #1a223a;
  }
  #stop-button:hover {
    background-color: #2b3860;
  }