---
import house from '../../public/house';
import { YouTube } from '@astro-community/astro-embed-youtube';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
    <!-- Content goes here -->

    <div class=''>
      <div
        class='mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'
      >
        <div id='player' class='w-full'></div>
        <h2 class='sr-only'>Products</h2>

        <div
          class='pt-20 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8'
        >
          {
            house.map((card) => (
              <div class='group '>
                <div class='aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray xl:aspect-w-7 xl:aspect-h-8'>
                  <YouTube
                    class='h-full w-full object-cover object-center group-hover:opacity-75'
                    id={card.url}
                  />
                </div>
                <h3 class='mt-4 text-sm text-gray-700'>{card.username}</h3>
                <p class='mt-1 text-lg font-medium text-gray-900'>
                  {card.name}
                </p>
              </div>
            ))
          }

          <!-- More products... -->
        </div>
      </div>
    </div>
  </div>
  <div class='fixed inset-x-0 bottom-0 p-4 bg-[#090c14]'>
    <div class='flex justify-center space-x-4'>
      <button class='button rounded-full' id='back-button'
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-6 h-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z'
          ></path>
        </svg>
      </button>

      <button class='button rounded-full' id='pause-button'
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-6 h-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M14.25 9v6m-4.5 0V9M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>
        </svg>
      </button>
      <button class='button rounded-full' id='play-button'
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-6 h-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z'
          ></path>
        </svg>
      </button>
      <button class='button rounded-full' id='stop-button'
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-6 h-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z'
          ></path>
        </svg>
      </button>
      <button class='button rounded-full' id='next-button'
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-6 h-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z'
          ></path>
        </svg>
      </button>
    </div>
  </div>
</Layout>


<script is:inline>
  var tag = document.createElement('script');
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var videoId = [
    'QThYaD1cMrU',
    'OUmjvFm7h6I',
    '3rl5A4jYsyA',
    'J8mLKxwNsJo',
    'dxfWIa8PQ0w',
    'QUCPmPNV2TQ',
    '2fmdt_adHCg',
    'dCAw7J_4YJY',
    'KM0mY7ysUoQ',
    '004J7LpJqrg',
  ];
  var player;
  currentVideoId = 0;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      playerVars: {
        // autoplay: 1,
        // loop: 1,
        // rel: 0,
        // showinfo: 0,
        // autohide: 0,
        // modestbranding: 1,
      },
      events: {
        onReady: onPlayerReady,
        onStateChange: onPlayerStateChange,
      },
    });
  }
  function onPlayerReady(event) {
    event.target.loadVideoById(videoId[currentVideoId]);

    // bind events
    var playButton = document.getElementById('play-button');
    playButton.addEventListener('click', function () {
      player.playVideo();
    });

    var pauseButton = document.getElementById('pause-button');
    pauseButton.addEventListener('click', function () {
      player.pauseVideo();
    });

    var stopButton = document.getElementById('stop-button');
    stopButton.addEventListener('click', function () {
      player.stopVideo();
    });

    var nextButton = document.getElementById('next-button');
    nextButton.addEventListener('click', function () {
      currentVideoId++;
      if (currentVideoId >= videoId.length) {
        currentVideoId = 0;
      }
      player.loadVideoById(videoId[currentVideoId]);
    });

    var backButton = document.getElementById('back-button');
    backButton.addEventListener('click', function () {
      currentVideoId--;
      if (currentVideoId < 0) {
        currentVideoId = videoId.length - 1;
      }
      player.loadVideoById(videoId[currentVideoId]);
    });
  }

  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED) {
      currentVideoId++;
      if (currentVideoId < videoId.length) {
        player.loadVideoById(videoId[currentVideoId]);
      } else {
        currentVideoId = 0;
        event.target.loadVideoById(videoId[currentVideoId]);
      }
    }
  }
</script>
