---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PlayerBottom from '../components/PlayerBottom.astro';
import uniqueVideos from '../scripts/video.js';
import SwiperMain from '../components/SwiperMain.astro';
import HipHop from '../components/HipHop.astro';
import House from '../components/House.astro';
import Dnb from '../components/Dnb.astro';

var first40 = uniqueVideos.slice(0, 40);
---

<Layout title='Okizoo Homepage'>
  <main class='bg-mcBg overflow-hidden'>
    <div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
      <!-- Content goes here -->

      <div class=''>
        <div
          class='mx-auto  py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'
        >
          <h2 class='sr-only'>Products</h2>

          <div class=''>
            <SwiperMain />
          </div>

          <HipHop />
          <House />
          <Dnb/>

          <div class='pt-28'>
            <div class='h-full flex items-center'>
              <button
                class='button rounded-full mr-3'
                id='playbtnone'
                onclick="changeVideoId('myDiv')"
                ><svg
                  xmlns='http://www.w3.org/2000/svg'
                  viewBox='0 0 24 24'
                  fill='currentColor'
                  class='w-6 h-6'
                >
                  <path
                    fill-rule='evenodd'
                    d='M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z'
                    clip-rule='evenodd'></path>
                </svg>
              </button>
              <div>
              <h1
                class='text-lg md:text-2xl text-mt font-bold tracking-tight sm:text-xl'
              >
                ENDLESS ZOO PLAYLIST
              </h1>
              <p class='hidden sm:block mr-4 text-mtLight'>
                Get into all the cuts
              </p>
            </div>
            </div>
            <div
              class='pt-8 grid grid-cols-2 gap-y-10 gap-x-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-6'
            >
              {
                first40.map((ytVideos) => (
                  <Card
                    url={ytVideos.url}
                    title={ytVideos.title}
                    username={ytVideos.username}
                    channel_id={ytVideos.channel_id}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>

      <PlayerBottom />
    </div>
  </main>
</Layout>
