---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PlayerBottom from '../components/PlayerBottom.astro';
import uniqueVideos from '../scripts/video.js';
import SwiperMain from '../components/SwiperMain.astro';

var first40 = uniqueVideos.slice(0, 40);


---

<Layout title='Okizoo Homepage'>
  <main class='bg-[#090a0d] overflow-hidden'>
    <div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
      <!-- Content goes here -->

      <div class=''>
        <div
          class='mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'
        >
          <h2 class='sr-only'>Products</h2>

          <SwiperMain />
          <div class='mt-10 border-b border-[4px] border-[#111522]'></div>

          <div
            class='pt-16 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8'
          >
            {
              first40.map((ytVideos) => (
                <Card
                  url={ytVideos.url}
                  title={ytVideos.title}
                  username={ytVideos.username}
                  channel_id={ytVideos.channel_id}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>

    <PlayerBottom />
  </main>
</Layout>
