---
import Genretags from './Genretags.astro';
---

<>
  <div
    class='mx-auto max-w-3xl py-10 px-3 sm:py-14 sm:px-6 lg:max-w-5xl lg:px-6'
  >
    <div class='mt-8 mb-4'><Genretags /></div>
    <div
      class="p-2 lg:p-3 bg-[url('/images/wood.jpg')] bg-no-repeat bg-cover rounded-2xl"
    >
      <div id='player' class='w-full border border-[#2c2844] rounded-2xl'></div>
    </div>
  </div>
</>
