<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">

  <div class="p-2 lg:p-3 bg-[url('/public/images/wood.jpg')] bg-no-repeat
                bg-cover rounded-2xl">
  <div id='player' class='w-full border border-[#2c2844] rounded-2xl'></div>
</div>

</div>