---

---

<>
  <div class="mx-auto sm:py-10 py-7 sm:px-6 lg:px-6 max-w-7xl">
    <div
      class="p-2 lg:p-3 bg-[url('/images/wood.jpg')] bg-repeat bg-cover rounded-2xl"
    >
      <div id="player" class="w-full border border-[#2c2844] rounded-2xl"></div>
    </div>
  </div>
</>
