---
import { YouTube } from '@astro-community/astro-embed-youtube';
import profileImage from '/jam.jpg';

export interface Props {
  url?: string;
  title?: string;
  username?: string;
  channel_id?: number;
}

const { url, title, username, channel_id } = Astro.props as Props;


---

<div
  class='group border-[1.5px] border-[#171c2e] p-4 rounded-2xl flex flex-col'
>
  <div
    class='aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray xl:aspect-w-7 xl:aspect-h-8'
  >
    <YouTube
      class='h-full w-full object-cover object-center group-hover:opacity-75'
      id={url}
    />
  </div>
  <h3 class='mt-4 text-lg font-bold text-[#464e6b] line-clamp-2'>
    {title}
  </h3>
  <div class='flex mb-8 mt-1'>
    <img
      class='rounded-full opacity-40 hover:opacity-80'
      src={profileImage}
      width='26'
    />
    <p class='text-sm ml-2 mt-1 font-medium text-gray-800'>
      {username}
    </p>
  </div>
  <div class='mt-auto'>
    <p
      class='px-3 py-1 inline-block border-[1.5px] border-[#111522] rounded-md text-sm font-medium text-gray-800'
    >
      {
        channel_id === 1057747211468943450
          ? 'Gems'
          : channel_id === 1049841438919245925
          ? 'Hip-Hop'
          : channel_id === 1062329322477727764
          ? 'Beat Suite'
          : channel_id === 1062325851418525776
          ? 'House Love'
          : channel_id === 1062325992137424986
          ? 'Drum n Bass'
          : channel_id === 1062327975091126342
          ? 'Turntablism'
          : channel_id === 1071400000216641566
          ? 'Ragga/Soundclash'
          : ''
      }
    </p>
  </div>
</div>

<style></style>
