---
let genres = [
  'Gems',
  'Hip-Hop',
  'Beat Suite',
  'House',
  'Drum n Bass',
  'Turntablism',
  'Ragga/Soun...',
];

let genre = 'test';
---

<style>
  .swipertwo {
    width: 100%;
    height: 100%;
  }
</style>

<!-- Slider main container -->

<div class='overflow-hidden sm:max-w-3xl mx-auto max-w-sm'>
  <div class=''>
    <div class='swipertwo'>
      <div class='swiper-wrapper flex lg:justify-center justify-start'>
        <!-- Slides -->

        <div class='swiper-slide w-fit'>
          <div class='mr-2'>
            <button
              onclick="changeVideoId('myDivsix')"
              class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'
            >
              Gems
            </button>
          </div>
        </div>
        <div class='swiper-slide w-fit'>
          <div class='mr-2'>
            <button
              onclick="changeVideoId('myDivtwo')"
              class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'
            >
              Hip-Hop
            </button>
          </div>
        </div>
        <div class='swiper-slide w-fit'>
          <div class='mr-2'>
            <button
              onclick="changeVideoId('myDivfive')"
              class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'
            >
              Drum and Bass
            </button>
          </div>
        </div>
        <div class='swiper-slide w-fit'>
          <div class='mr-2'>
            <button
              onclick="changeVideoId('myDivthree')"
              class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'
            >
              House
            </button>
          </div>
        </div>
        <div class='swiper-slide w-fit'>
          <div class='mr-2'>
            <button
              onclick="changeVideoId('myDivnine')"
              class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'
            >
              Beat Suite
            </button>
          </div>
        </div>
        <div class='swiper-slide w-fit'>
          <div class='mr-2'>
            <button
              onclick="changeVideoId('myDiveight')"
              class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'
            >
              Turntablism
            </button>
          </div>
        </div>
        <div class='swiper-slide w-fit'>
          <div class='mr-2'>
            <button
              onclick="changeVideoId('myDivseven')"
              class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'
            >
              Ragga/Soun...
            </button>
          </div>
        </div>

        <!-- If we need pagination -->
      </div>
    </div>
  </div>

  <script type='module'>
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';
    const swiper = new Swiper('.swipertwo', {
      slidesPerView: 'auto',
      grabCursor: true,
      speed: 10000,
      spaceBetween: 10,
      freeMode: true,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 0,
        disableOnInteraction: false,
      },
    });
  </script>

  <style>
    .bug {
      background-color: black;
    }
  </style>
</div>
