---
import { Image } from 'astro:assets';
import logo from './public/images/crew.png';
---

<script>
 const animatedTexts = document.getElementById('animated-texts');
const pTags = animatedTexts.querySelectorAll('p');

let mouseX = 0;
let mouseY = 0;
let animationSpeed = .2; // Adjust this value to control the scrolling speed

function updatePElements() {
  const viewportWidth = window.innerWidth;
  const viewportHeight = window.innerHeight;

  pTags.forEach((p, index) => {
    const multiplier = index % 2 === 0 ? 1 : -1;
    const translateX =
      ((mouseX / viewportWidth) * 20 + (mouseY / viewportHeight) * 20) *
      multiplier;

    const currentTransform = p.style.transform;
    let currentTranslateX = 0;

    if (currentTransform) {
      const match = currentTransform.match(/translateX\((\-?\d+(\.\d+)?)px\)/);
      if (match && match[1]) {
        currentTranslateX = parseFloat(match[1]);
      }
    }

    const newTranslateX = currentTranslateX + animationSpeed * multiplier;
    p.style.transform = `translateX(${newTranslateX}px)`;

    // Check if the p tag is out of view, then reset its position
    if (multiplier > 0 && p.getBoundingClientRect().right < 0) {
      const maxWidth = Math.max(...Array.from(pTags).map(p => p.clientWidth));
      p.style.transform = `translateX(${newTranslateX + maxWidth * 2}px)`;
    } else if (multiplier < 0 && p.getBoundingClientRect().left > viewportWidth) {
      const maxWidth = Math.max(...Array.from(pTags).map(p => p.clientWidth));
      p.style.transform = `translateX(${newTranslateX - maxWidth * 2}px)`;
    }
  });

  requestAnimationFrame(updatePElements);
}

document.addEventListener('mousemove', (event) => {
  mouseX = event.clientX;
  mouseY = event.clientY;
});

requestAnimationFrame(updatePElements);
</script>

<div
  class='relative md:overflow-hidden mt-20 md:mt-10 mx-auto rounded-lg max-w-3xl'
>
  <div
    class='bg-[#1e1f2c] rounded-lg md:flex justify-center items-center py-3 px-5 gap-6 md:mx-auto mx-4'
  >
    <Image
      src={logo}
      alt='zoocrew logo'
      class='md:w-70 w-60 z-10 mx-auto md:mt-0 -mt-20 md:mb-0 mb-3'
    />
    <div class='max-w-sm mx-auto'>
      <p
        class='text-mtLight uppercase subpixel-antialiased text-xs md:text-[14px] relative text-center md:text-left z-10 font-[mortendlight] tracking-widest'
      >
        Welcome to <span class='font-[mortendextrabold]'> Zoo-tube</span> 💜, a highly
        curated collection of
      </p>
      <p
        class='text-mtLight uppercase subpixel-antialiased text-xs md:text-[14px] font-[mortendextrabold] text-center md:text-left tracking-widest md:mb-0 mb-4'
      >
        timeless sounds
      </p>
    </div>
  </div>

  <div
    class='absolute bottom-0  left-[-400px] transform-gpu rotate-[-45deg] smooth-transition rounded-lg md:block hidden mx-auto'
    id='animated-texts'
  >
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
    <p
      class='text-[#2b2b39] text-3xl font-[mortendextrabold] leading-none tracking-wide'
    >
      zoo-tube &gt; zoo-tube &gt; zoo-tube &gt; zoo-tube
    </p>
  </div>
</div>

<div
  class='absolute inset-x-0 top-[calc(100%-13rem)]  -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]'
>
  <svg
    class='relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]'
    viewBox='0 0 1155 678'
  >
    <path
      fill='url(#ee0717bf-3e43-49df-b1bd-de36422ed3d3)'
      fill-opacity='.2'
      d='M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z'
    ></path>
    <defs>
      <linearGradient
        id='ee0717bf-3e43-49df-b1bd-de36422ed3d3'
        x1='1155.49'
        x2='-78.208'
        y1='.177'
        y2='474.645'
        gradientUnits='userSpaceOnUse'
      >
        <stop stop-color='#9089FC'></stop>
        <stop offset='1' stop-color='#FF80B5'></stop>
      </linearGradient>
    </defs>
  </svg>
</div>

<style>
  .smooth-transition {
    transition: transform 0.3s ease;
  }
</style>
