<div class='fixed inset-x-0 bottom-0 p-4 bg-[#090c14]'>
  <div class='flex justify-center space-x-4'>
    <button class='button rounded-full' id='back-button'
      ><svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z'
        ></path>
      </svg>
    </button>

    <button class='button rounded-full' id='pause-button'
      ><svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M14.25 9v6m-4.5 0V9M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>
      </svg>
    </button>
    <button class='button rounded-full' id='play-button'
      ><svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z'
        ></path>
      </svg>
    </button>
    <button class='button rounded-full' id='stop-button'
      ><svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z'></path>
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z'
        ></path>
      </svg>
    </button>
    <button class='button rounded-full' id='next-button'
      ><svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z'
        ></path>
      </svg>
    </button>
  </div>
</div>

<script is:inline>
  var tag = document.createElement('script');
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  videoId = [
    'hrf8cbHSm4I',
    'ItwI2La1uS8',
    'XyWtzINmfDI',
    'BZyVx7eC9UU',
    'h0EgQm8AiP8',
    'KsNLQpCN2-s',
    '35N2W7vwHPw',
    'QThYaD1cMrU',
    'T5ugNSv2nUk',
    '7ihbqW_cGiM',
    'LcARPWpyGc0',
    'GmACUX4YTR4',
    'SjgMmo6_DH0',
    '0LG-r-J2O50',
    '3rl5A4jYsyA',
    'bP6xzDLcstA',
    'MtSzpKiARrI',
    'u-IhKRT6yAY',
    'kOx2rbcfTMs',
    'Q7QiLceJSLQ',
    'Ee8kzXN2tic',
    'StYkb5kbM3o',
    'uM-WikkEK6k',
    'edZQ8Br7soA',
    'RhS0aKygDww',
    'oV2ykrWGfEU',
    'GQtxWOf-y5E',
    'iwMoPG5RrxI',
    'I-HnlgUPHtE',
    'hXRUP4jp5gQ',
    'UdqR-V5vagA',
    'FbwCRdOu-ms',
    'dYiC3TvFcgE',
    'pMk7gELBhro',
    'dOTOgZYvMVw',
    '2bqXbE_-MEM',
    'FbIMSdn4ZY0',
    'zVHvN1EeIr0',
    '3Of01_WEdQI',
    'dzsw3HVWrm4',
    'X8KrWSsEHDc',
    'KHr1I68b4UQ',
    'r1EdXB7ZetM',
    'u9jQXwKTjdU',
    'bZJkWxnIQIc',
    'RYl-V7hygj4',
    'QUCPmPNV2TQ',
    'K04kBLt3CeI',
    'qRHCMshfne4',
    'dNlgimfHDgE',
    '7lFvL9xl8eg',
    'ZFbXj5vuAXI',
    'y7fU2pY962E',
    'dxfWIa8PQ0w',
    'CCq7FSqsAo0',
    'Nky4aKFkqCY',
    'lOlGORFPZew',
    'uJtblNRcmMM',
    'U3pouD85FwI',
    'iNpf1GqkQdc',
    'kKWX3C_odcc',
    'fLqAPgR14S4',
    'eLbVdPn_630',
    'Jzyo3-VzKjg',
    'pM1BTmgtT3g',
    'daRZhJyyz_s',
    'hTGJfRPLe08',
    'V8p6i8sHeho',
    'dvpIGVNFjMg',
    'O3QOBYq0lBI',
    'YDWI7MV-7WE',
    'V3L_9TsF48c',
    'naw5VjcUQeo',
    '7BXOFtd9elU',
    'Kr4nAOCJgHE',
    'VSOTzF6vGGI',
    '2W_BZc3k054',
    '_h8MtOoDrHU',
    'vpZeCZSx3gE',
    '-ERr4G6gaPs',
    'HgrlCJPiLQs',
    'q_TCnxDp078',
    'Zi-qql988K0',
    '5jfriNA_f1s',
    'jqp_fsJlw5A',
    'T8Q94piuiwo',
    'oq2dfOyNaXE',
    'xxQuLz-bQgc',
    '6EptaoA--IU',
    'mdGXku8MJ2M',
    '54yOD994ors',
    'DLuznRkBL54',
    'Qd75eKzcjJ0',
    'PUDAz7J-SnQ',
    '6NlstW2xvwc',
    'azsynh_J_KI',
    'T71m2jo8H7Y',
    'oF2ukpB8JVI',
    'ENSxh64ut4w',
    'PG999pOsXzI',
    'bELzWruhtx4',
    'Om_HSaRJOHU',
    'OotwxggzUo8',
    'u19h0plTJa4',
    'unt_LFp5TiM',
    'LJ8NoDwPNOo',
    'bYl2kS86i0E',
    'f55HngFE9YM',
    'hpYZhXif8B0',
    'qYocJ1Xhzk4',
    '9jedO9czY0E',
    'lQyypr9cp8I',
    'ZkAvjKuyhwU',
    'Gh7PJL_tYSY',
    'NMbzQOnVAYg',
    '6z0Kc9mEbE4',
    'bOMOMWeh4Jk',
    'wIGU11nopN0',
    'A0sjh4V4bYY',
    'QPdW3WKTBYk',
    '6Hy_4tQzuJg',
    'A3iNxTxOxN0',
    'Usz1rlYxWLU',
    'Fijwt0WMsH0',
    '7icGNCSMa5U',
    'qJ8MdYblIvc',
    'Ce8r9RfK1wk',
    'q16-Sipt2t4',
    'HASsGX4viuY',
    'Nauusq5yCi0',
    'fkeHjrA7PoM',
    'oSvAO7vRBfU',
    'Xw6GCwj8XN0',
    'V9tvzHs7FM0',
    'jQ3DX7oDOMg',
    'xqq72aTKzDg',
    'Viqo_ForBL8',
    'P_xRboVrYKU',
    'dCAw7J_4YJY',
    'l94S5gWFFwc',
    'Zd-xJqmB4Js',
    'ySKCpxq1NEs',
    'pZBBrNQFqnk',
    '2fmdt_adHCg',
    '8cRDx9-ODUc',
    'IdNxeepSpuk',
    'gjEmwvsIhuE',
    'jckE3DzY3Pw',
    'zOHzvvTroXQ',
    'FmLsNzsSf6g',
    '7NqWT0iGgL8',
    'lju6E1vvq3Q',
    'Q_rXClrUxdM',
    'wXIAzoUzagk',
    'baTxdSdYR5E',
    'ofg2AQkkPjc',
    'YNcGR7GKHLw',
    'J8mLKxwNsJo',
    'SBOzlnF7WzU',
    'r0sVIPJ4Nls',
    '_yPTHJ5zsvA',
    '3gILFQ90flA',
    'VV9TqFUjj08',
    'OA8aw07dpg0',
    'rpEuno72RVI',
    '87Z2Kds4KPo',
    'xs00TF0w1ck',
    '__egWoLZdRg',
    'iWgy4SceMNg',
    'HPdUYUeQsrs',
    'iK2FCDDTCvc',
    'C8JuX75vbcg',
    'W7xCweLkybs',
    '66kBIEYGJls',
    'XMPZ1huj_z0',
    'bblSwA3Ir_I',
    'VT7hmCkIq4o',
    'kNimjPIZdgI',
    '_HfI57VP3U0',
    '7m0p-sp3Udw',
    'i-Puq1pgTXU',
    'j-JB0Hwtu8Q',
    'maaTOLBcmDQ',
    '6JTb5ieO_jE',
    'UKxYNY75QOg',
    'Wa86aPSXRX4',
    'WDq0dJbu8sE',
    'xddW6HJUeQ8',
    'mYGRN_gS0kI',
    'HouAy7z81QU',
    'HYhpz3Yzlm8',
    'Trnuem8iRx0',
    'IMQCfWxwjNI',
    '17moD6zt0bA',
    '6bPZ2WBGdwI',
    'qwgPxrZnBpg',
    '2GBsDwwPXTo',
    'nbNvEeKqnXo',
    '7z25ZZ3DHds',
    'LuB29bL2kyI',
    'GFopBeCTl2w',
    'NvXR6D-Ti08',
    'Dwbe13hTvEw',
    'NabmJWtYK5c',
    '8Q1I9pN8a-M',
    'UuWlcfTWUNk',
    '4bZeLOvGBgY',
    'BjbHRe-RhKM',
    'ZpXd4_CjE_0',
    'GxFrAOK-qNk',
    'd8KPzY9BY4Q',
    'YCnaVPMXVOg',
    '605sWoD5qxU',
    'FUdjrR9GnXM',
    'hT_2kUx0AcQ',
    'kEUBTVysypY',
    '9pF3SsCh7A8',
    'l3TCBl0WhxM',
    'hsrCprYh9dY',
    'LNR4WHaGQQw',
    'E8pHAQc4rxA',
    '1MPcQ_Z4L2M',
    '6Wq_K61Mh1A',
    'lGF-1x94SxY',
    'hUce-g7WNtE',
    'pr19jIAJK4U',
    '-WKioY_CyhI',
    'PJfSFzP6oUY',
    'iuw0DGI1sA8',
    'MHXlpngllr4',
    'VbVrHlh3vvk',
    'OUmjvFm7h6I',
    'fOO1mWLGhh8',
    'u33bT1ckfm4',
    'yDvrNjZiafs',
    'DdeKOG22gNU',
    'q6m6lmkJG68',
    'B9y30auFlcI',
    'BsX0VVk47Oc',
    'r9XrPXdhhuU',
    'QUJHidt3QpY',
    'JE4HJK4F5K0',
    'dz7V-Fxr7sI',
    'o8yVEy1UsgU',
    'fLWet4iuUkg',
    'Z_D_g92kYP8',
    'KKlGQo_Mbhc',
    'HEqqkKhCkMI',
    'Bv7Gwb9j63I',
    '1lIqJvMIbWU',
    '_iDw1c_tUU8',
    'f_KAtkIWMq4',
    'qm6Se2Ok53w',
    'A_NNNi5QCIM',
    '_oHlAw9tE3o',
    '5kefg2alG-w',
    'Trd49Da0gf0',
    'fOb_2wM8qIc',
    'RlXgf1vYz88',
    'Rbm3ocRwVRg',
    'WRI6aB6T6TE',
    'pMyzDnYbjXs',
    'qZFZh62tw3o',
    '25W3bhBFaF0',
    'nMihWgMrKYM',
    '2RjU-4XzaGc',
    'J37T5ZGVFWQ',
    'WYT4gMDHYZw',
    'UrTZ-ULZ6dY',
    '1rT7sdksYTA',
    '9NDaJtcusi4',
    'qZqPmUtQs2Q',
    'FzX38yg1J8Q',
    'L9KCYdJ3yeQ',
    'jvUbADIIQpM',
    'ynlD8U_TvTs',
    '-5h2PMBYh7I',
    'rvVoRA6bi_o',
    '8560CAdA0Ys',
    'sMSxwh4wE9U',
    'ygUCRN65avY',
    '-Z65hHESYGE',
    'v6HBZC9pZHQ',
    'V7dwTonFu6o',
    'w3333Fo6ufY',
    'Yd3AV4Cexf0',
    'pJ7_9FnOaFE',
    'KKGlTGnLXQc',
    'Z6_14f5cAGg',
    'QjaVBJJ7xhE',
    '0DTyB7o_6HU',
    'BT_RwLwlGLc',
    'epsUfFZ5i6Y',
    'RlcfnYa-T4s',
    'gxRMVDchdpk',
    'ucaCqYMHJVU',
    'KlLv3MihJRA',
    'k822F8Zo42I',
    'Uvj3qhcKMuc',
    'yuC0GoK9V8w',
    'jK680uD7qQI',
    'jhMk_wLm07E',
    'UGAMBKRnZjA',
    'RcVZfJO01NI',
    'E2Snh2NZHhk',
    '-Bb3ff1MsHo',
    'rzEGpY3zESQ',
    'w6yILBkC86I',
    'KQaVDWtnVZ0',
    'DqROS_ub6Q4',
    'E6YjQHUbz38',
    'Re9wDJeJ1Qo',
    'sa7SDiCQY3E',
    'lcuFpIft574',
    'EHr9Vcjy9F0',
    'GP0FwijUJNI',
    'UrxLe3DzAkI',
    'AwhvIedmelE',
    'fCNBXjTohds',
    '_gQ12GQ84xs',
    'wiuqP51iDpQ',
    'ow0dlCS2HH4',
    '004J7LpJqrg',
    'kNYvr_2hsBM',
    '45ZFjiABLwI',
    'fQnxzrz3uDA',
    'SwOYIntD1Wk',
    'AZOXyS_GMx4',
    '1oT88UUYwPM',
    '_eIxgFwbFkY',
    '3nDgnNUJe6s',
    'vPA5Nngc3yI',
    'WFuWPhlsyEI',
    'sgE4yS_PeTg',
    'XfoXrSrGFLw',
    'TWSs_aWC0Lo',
    'KM0mY7ysUoQ',
    '_RINJYBIqc4',
    'KgNNm_6Bu2Y',
    'olLlcGnziNw',
    'beQDzn_bLDw',
  ];

  var player;
  currentVideoId = 0;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      playerVars: {
        disablekb: 1,
        rel: 0,
        showinfo: 0,
        modestbranding: 1,
      },
      events: {
        onReady: onPlayerReady,
        onStateChange: onPlayerStateChange,
      },
    });
  }
  function onPlayerReady(event) {
    event.target.loadVideoById(videoId[currentVideoId]);

    // bind events
    var playButton = document.getElementById('play-button');
    playButton.addEventListener('click', function () {
      player.playVideo();
    });

    var pauseButton = document.getElementById('pause-button');
    pauseButton.addEventListener('click', function () {
      player.pauseVideo();
    });

    var stopButton = document.getElementById('stop-button');
    stopButton.addEventListener('click', function () {
      player.stopVideo();
    });

    var nextButton = document.getElementById('next-button');
    nextButton.addEventListener('click', function () {
      currentVideoId++;
      if (currentVideoId >= videoId.length) {
        currentVideoId = 0;
      }
      player.loadVideoById(videoId[currentVideoId]);
    });

    var backButton = document.getElementById('back-button');
    backButton.addEventListener('click', function () {
      currentVideoId--;
      if (currentVideoId < 0) {
        currentVideoId = videoId.length - 1;
      }
      player.loadVideoById(videoId[currentVideoId]);
    });
  }

  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED) {
      currentVideoId++;
      if (currentVideoId < videoId.length) {
        player.loadVideoById(videoId[currentVideoId]);
      } else {
        currentVideoId = 0;
        event.target.loadVideoById(videoId[currentVideoId]);
      }
    }
  }
</script>
