---
import Card from './Card.astro';
import uniqueVideos from '../scripts/video';
var firstTen = uniqueVideos.slice(0, 10);
---

<style>
  .swiper {
    width: 100%;
  }
</style>

<!-- Slider main container -->
<div class='swiper'>
  <!-- Additional required wrapper -->
  <div class='swiper-wrapper w-full text-white'>
    <!-- Slides -->
    {
      firstTen.map((ytVideos) => (
        <div class='swiper-slide'>
          <Card
            url={ytVideos.url}
            title={ytVideos.title}
            username={ytVideos.username}
            channel_id={ytVideos.channel_id}
          />
        </div>
      ))
    }
  </div>
  <!-- If we need pagination -->
</div>

<script type='module'>
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    slidesPerView: 2,
    spaceBetween: 20,
    direction: 'horizontal',
    loop: false,
    breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 30,
        },
      },
  });
</script>
