<header class='bg-black'>
  <nav class='mx-auto max-w-7xl px-6 lg:px-8' aria-label='Top'>
    <div
      class='flex w-full items-center justify-between border-b border-[#141a2c] py-6 lg:border-none'
    >
      <div class='flex items-center'>
        <a href='/'>
          <span class='sr-only'>Your Company</span>
          <img
            class='h-10 w-auto'
            src='https://tailwindui.com/img/logos/mark.svg?color=white'
            alt=''
          />
        </a>
        <div class='ml-10 hidden space-x-8 lg:block'>
          <a
            href='https://www.facebook.com/OkiZoo'
            class='text-base font-medium text-white hover:text-indigo-50'
            >Facebook</a
          >

          <a
            href='https://www.youtube.com/channel/UCInf_elqdA4-HyuXFaB6QqQ'
            class='text-base font-medium text-white hover:text-indigo-50'
            >Youtube</a
          >
        </div>
      </div>
      <div class='ml-10 space-x-4'>
        <a
          href='#'
          class='inline-block rounded-md border border-transparent bg-[#141a2c] py-2 px-4 text-base font-medium text-[#5874c4] hover:bg-opacity-75'
          >Sign in</a
        >
        <a
          href='#'
          class='inline-block rounded-md border border-transparent bg-[#2e3c6a] py-2 px-4 text-base font-medium text-[#000000] hover:bg-[#1e2744]'
          >Sign up</a
        >
      </div>
    </div>
    <div class='flex flex-wrap justify-center gap-x-6 py-4 lg:hidden'>
      <a
        href='https://www.facebook.com/OkiZoo'
        class='text-base font-medium text-white hover:text-indigo-50'
        >Facebook</a
      >

      <a
        href='https://www.youtube.com/channel/UCInf_elqdA4-HyuXFaB6QqQ'
        class='text-base font-medium text-white hover:text-indigo-50'>Youtube</a
      >
    </div>
  </nav>
</header>
