---
let users = [
  'DunnD',
  'Tek Jones',
  'JohnGlist',
  'Nations',
  'ALF of Hip Hop Slam',
  'Robert Brownie Jr.',
  'hecto',
  'precise',
  'khemetadisabey',
];
---

<style>
  .swiperuser {
    width: 100%;
    height: 100%;
  }
</style>

<!-- Slider main container -->

<div class='overflow-hidden sm:max-w-7xl'>
  <div class=''>
    <div class='h-full flex items-center mt-20 mb-4'>
      <div>
        <h1
          class='text-lg md:text-2xl text-mt font-bold tracking-tight sm:text-xl'
        >
          JAM BY DJ
        </h1>
        <p class='hidden sm:block mr-4 text-mtLight'>
          Your favorite DJ's favorite tracks
        </p>
      </div>
    </div>
    <div class=''>
      <div class='swiperuser'>
        <div class='swiper-wrapper flex justify-start'>
          <!-- Slides -->

          {
            users.map((user) => (
              <div class='swiper-slide w-fit'>
                <a href={`/profiles/${user}`}>
                  <div class='mr-2'>
                    <button class='inline-flex flex-nowrap items-center px-3 py-2 justify-center text-xs whitespace-nowrap font-bold text-center text-hlcolor no-underline align-middle transition-all duration-300 ease-in-out bg-transparent border-2 border-hlcolor border-solid rounded-full cursor-pointer select-none hover:text-mtLight hover:border-mtLight focus:shadow-xs focus:no-underline'>
                      {user}
                    </button>
                  </div>
                </a>
              </div>
            ))
          }

          <!-- If we need pagination -->
        </div>
      </div>
    </div>
  </div>

  <script type='module'>
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';
    const swiper = new Swiper('.swiperuser', {
      slidesPerView: 'auto',
      grabCursor: true,
      spaceBetween: 5,
      loop: true,
      centeredSlides: true,
    });
  </script>

  <style>
    .bug {
      background-color: black;
    }
  </style>
</div>
